<div class="card card-outline-primary">

    <div class="card-body">
        <form action="edit" method="post">
            <div class="form-body">
                <h3 class="card-title m-t-15">Thông tin nhân viên</h3>
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">ID</label>
                            <input name="id" readonly value="{{id}}" type="text" id="id" class="form-control"
                                   placeholder="ID">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Tên</label>
                            <input value="{{name}}" name="name" type="text" id="name"
                                   class="form-control form-control-danger" placeholder="12n">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-success">
                            <label class="control-label">Vi tri</label>
                            <select name="department" id="department" class="form-control custom-select">
                                {{#each positions}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>

                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Lương</label>
                            <input name="salary" type="number" value="{{salary}}" class="form-control"
                                   placeholder="Lương">
                        </div>
                    </div>
                    <!--/span-->
                </div>

            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Save</button>
                <button type="button" onclick="cancelClick()" class="btn btn-inverse">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script>
    let department = "{{department}}";
    document.getElementById("department").value = department;

    function cancelClick(e) {
        window.location('/');
    }
</script>