<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-title">
                <h4>Danh sách nhân viên</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Avatar</th>
                            <th>Tên</th>
                            <th>Vị trí</th>
                            <th>Lương</th>
                            <th>Sửa</th>
                            <th>Xóa</th>

                        </tr>
                        </thead>
                        <tbody>
                        {{#each employes}}
                            <tr>
                                <td><span>{{id}}</span></td>
                                <td>

                                            <span class="text-14" style="
                                                    background:{{getBGColor name}} ;
                                                    width: 40px;
                                                    height: 40px;
                                                    border-radius: 50%;
                                                    color: #fff;
                                                    padding: 10px;
                                                    text-align: center">{{getSortName name}}</span>

                                </td>
                                <td>{{name}}</td>
                                <td><span>{{department.name}}</span></td>
                                <td><span class="text-14 badge badge-success">{{formatMoney salary}}</span>
                                </td>
                                <td>
                                    <a href="edit?id={{_id}}">
                                        <img height="16" width="16" src="images/edit.png">
                                    </a>
                                </td>
                                <td><a href="javascript:deleteEmploye({{id}})"><img
                                        height="16" width="16" src="images/delete.png"></a></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>
<script>
    function deleteEmploye(id) {
        console.log(id)
        $('#myModal').modal('toggle');
    }
</script>
